# Contain the very large image files that we used for evaluation of the CNN on Oregon
geo/getimagesmapbox/images/
get/getimagesmapbox/images_deprecated/
get/getimagesmapbox/oregon_images/

**/images_deprecated/
**/oregon_images/
**/images_oregon_v1


# contains keys for querying Google Earth Engine for satellite images
earthengine/.ENV 
earthengine/localdisplay
# contains large weight files that are cumbersome to push
cnn/model/vgg16_imagenet.h5
cnn/model/__pycache__/
cnn/oregin_sample/

# Data set
cnn/data

# DS_Store (mac metadata file we shouldnt store)
**/.DS_Store

# more data ignore
**/oregon_sample
**/test/
**/train/
**/valid/
